{% extends 'base.html' %}
{% block content %}
<div class="parent" style="display: flex; width: 100vw; height: 80vh;justify-content: center; align-items:center ;">
    <div class="container" style=" border-radius: 5px; background-color: #f2f2f2; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <h2>
            Create Quiz by Topic
        </h2>
        <form enctype="application/x-www-form-urlencoded" method="post" action="{% url 'file_processing:question_upload' %}">
            <!-- <input type="text" hidden name="user" value="{{user}}"> -->
            <table style="width: 100%; border-spacing: 3px;">
                {% csrf_token %}
                {% for field in form %}
                    {% if field == form.topic %}
                        <tr>
                            <td style="padding: .3em;">Topic1 :</td>
                            <td>
                                <select name="topic" required="" id="id_topic" onchange="my_topics('halleluyah')">
                                    <option value="" selected>---------</option>
                                
                                    <option value="1">Jesus life</option>
                                
                                    <option value="2">Variation</option>
                                
                                    <option value="3">Quadratic Equation</option>
                                
                                    <option value="4">Simple Equation</option>
                                
                                    <option value="5">Variation</option>
                                
                                    <option value="6">Quadratic Equation</option>
                                
                                    <option value="7">Simple Equation</option>
                            
                                </select>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="padding: .3em;">{{field.label_tag}} </td>
                            <td>{{field}}</td>
                        </tr>
                        <tr>
                            {% for error in field.errors %}
                            {{error}}
                            <hr style="background-color: red; height: 1px;">
                            {% endfor %}

                        </tr>
                    {% endif %}
                    {% endfor %}
                    
                    <tr>
                        {% for message in messages %}
                        <p style="background-color:rgba(233, 73, 97, 0.641); text-align: center; padding: .2em; font-size: small;">{{message|upper}}</p>
                        {% endfor %}

                    </tr>
                    
                </table>
            
            <input type="submit" value="Upload" style="background-color: #4CAF50; /* Green */
            border: none; color: white; padding: 12px 22px; text-align: center; text-decoration: none; display: inline-block;
            ; cursor: pointer;">
        </form>
    </div>
</div>

<script>

    // fetch post and get request
    async function makeRequest(url, method, data){
        let headers ={
            'X-Requested-With':'XMLHttpRequest',
            'Content-Type':'application/json'
        }

        if(method == 'post'){
            const csrf = document.querySelector('[name = csrfmiddlewaretoken]').value
            headers['X-CSRFToken'] = csrf
        }

        let response = await fetch(url,{
            method:method,
            headers:headers,
            body:JSON.stringify(data)
        })

        res = await response.json();
        // alert(['feedback is:',res])
        return res
        
    } 

    let topic = document.getElementById('id_topic')
    let course = document.getElementById('id_course')

    let all_topics
    function my_topics(course_id){
        makeRequest(
                "{% url 'create_quiz:get_topics' %}",
                'post',
                {
                    'course_id':course_id, 
                }
            ).then(
                x=>all_topics = x)
            alert(['topics are =',all_topics])
    }

    // course.addEventListener('onclick',alert('option just changed'))
</script>


{% endblock %}