<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>testing static fileswss</h3>
    <img src="{% static 'my_app/example.jpg' %}" alt="My image">
    <form action="#">
        <div>
            <div id="quiz_box">
            </div>
            <button id="next" onclick="display_question(0,1)">next</button>
            <button id="prev" onclick="display_question(0,2)">prev</button>
        </div>
    </form>
    
    <script type="module">
        import {makeRequest} from "{% static 'static_files/main.js' %}"
        
        let quizBox = document.querySelector("#quiz_box")
        // all question_options pair array from db
        let all_questions_db = await makeRequest("{% url 'paginated_quiz:get_questions' %}",'get')
        // actual cleaned questions
        let all_questions = all_questions_db['questions']
        // variable to count nos of question and use as page nos
        let pages = all_questions.length
        console.log('pages =',pages)
        // variable for user response
        let user_question_choice = {}
        // array for all user response
        let user_response = []

        // function that take question num and renders question-options on screeen
        let counter = -1
        function display_question(quest_num=0, state){
            // there are 3 states; 0=default, 1=next,two=prev
            switch (state) {
                case 0:
                    // quest_num++
                    break;
                case 1:
                    if(counter<pages-1){
                        counter++
                    }else{
                        counter= pages-1
                    }
                    // console.log(`counter in switch is ${counter}`)
                    break;
                case 2:
                    if(counter<1){
                        counter=0
                    }else{
                        counter--
                    }
                    break;
            
                default:
                    break;
            }
            console.log(`state is ${state}`)
            console.log(`counter is ${counter}`)
            for (const [question,options] of Object.entries(all_questions[counter || quest_num])){
                console.log('question= ',question)
                quizBox.innerHTML = `
                    <hr class="ques" >
                    <div class="mb-2 ques" >
                        <b>${question}</b>
                    </div>
                `
                for (const option of options){
                    quizBox.innerHTML += `
                        <div>
                            <input type="radio" class="ans"  id="${question}-${option}" name="${question}" value="${option}">
                            <label for="${question}"  class="answer">${option}</label>
                        </div>
                
                        `
                }
            }
            
        }

        window.display_question = display_question

        /*
        all_questions['questions'].forEach(x =>{
            for (const [question,answers] of Object.entries(x)){
                console.log('question= ',question)
                quizBox.innerHTML += `
                    <hr class="ques" >
                    <div class="mb-2 ques" >
                        <b>${question}</b>
                    </div>
                `
                for( let answer of answers){
                    console.log('answer= ',answer)
                    quizBox.innerHTML += `
                        <div>
                            <input type="radio" class="ans"  id="${question}-${answer}" name="${question}" value="${answer}">
                            <label for="${question}"  class="answer">${answer}</label>
                        </div>
                
                        `
                }
                
            }           
        })
        */

        
        window.console.log(all_questions)

        // window.send_data = send_data
    </script>
</body>
</html>