{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Profile page</h1>
    Hello {{user}}
</div>
<div class="container">
    <form action="{url 'auth1:profile'}" method="post">
        {% csrf_token %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        <table style="width: 100%;">
            <tr>
                <!-- <th>Exams Title</th>
                <th>Subject(course)</th> -->
                <td>Email address:</td>
                <td>{{user.email}}</td>
                
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{user.last_name}}</td>
            </tr>
            {% for field in form %}
            <tr>
                <td>{{field.label_tag}}</td>
                <td>{{ field }}</td>
                <td>{{quiz.duration}}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Update Profile">
    </form>
</div>
{% endblock%}