{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Time Left: <strong id="time-left"></strong>secs</h1>
    
    
    <form action="{% url 'cbt_app:quiz_progress' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{sitting.id}}" name="sitting">
        {% for question in questions %}
            <legend>
                <h3>{{forloop.counter}}. {{question.content}}</h3>
            </legend>
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <input type="hidden" value="{{question.id}}" name="question{{question.id}}">
            <fieldset>
                {% for choice in question.choice_set.all %}
                <input  type="radio" name="choice{{question.id}}" value="{{choice.id}}" > 
                <label for="choice{{question.id}}">{{choice.content}} </label> <br>
                
                {% endfor %}
            </fieldset>
        {% endfor %}
        <input type="submit" value="Next" style="margin-top: 2em;" id="submit">
    </form>
<script>
    
// timer countdown
const timeLeftDisplay = document.querySelector('#time-left');
        const submit = document.querySelector('#submit');
        let timeLeft = {{duration}} *60 ;

        function countDown() {
            setInterval(function () {
                if (timeLeft <= 0) {
                    clearInterval(timeLeft = 0)
                }
                if (timeLeft == 0) {
                    // submit.attr("disabled", true);
                    submit.click()
                }
                timeLeftDisplay.innerHTML = timeLeft
                timeLeft--;
            }, 1000)
        }
document.addEventListener(onload,countDown())
</script>
</div>
{% endblock %}